node_modules
.DS_Store
dist
*.local
.idea
.presite
dist-ssr
.vite-ssg-temp
temp
drafts
*.log
public/assets/fonts
public/search-meta.json
public/search-full.json
.eslintcache
.auto-generate

.pnpm-store/

# AI
.qoder
