div[class*="language-"] {
  --uno: relative overflow-hidden;
}

div[class*="language-"] button.copy {
  --uno: absolute top-3 right-3 size-8 fcc opacity-0 transition-opacity duration-300 z-10 border-none bg-transparent cursor-pointer;

  span {
    --uno: text-4 block;

    &.ready {
      --uno: i-solar-clipboard-bold-duotone text-primary;
    }

    &.success {
      --uno: i-solar-clipboard-check-bold-duotone hidden text-green-6;
    }
  }

  &.copied span {
    &.success {
      --uno: block;
    }

    &.ready {
      --uno: hidden;
    }
  }

  &:hover {
    --uno: opacity-100;
  }
}

div[class*="language-"]:hover button.copy {
  --uno: opacity-100;
}
